.quick-select-modal-active .suggestion-item {
	display: flex;
	justify-content: start;
	align-items: center;
}

.quick-select-modal-active .suggestion-item .suggestion-highlight {
	line-height: 100%;
}

.quick-select-modal-active .suggestion-item:nth-child(-n+9 of :not(.mod-group)) {
	counter-increment: suggestion-counter;
}

.quick-select-modal-active .suggestion-item .suggestion-content {
	width: 100%;
}

.quick-select-modal-active .suggestion-item:nth-child(-n+9 of :not(.mod-group))::after {
	content: counter(suggestion-counter);
	color: var(--text-muted);
	font-size: 0.8em;
	padding-left: 10px;
	margin-left: auto;
	align-self: center;
}

.quick-select-modal-active .suggestion-item>div.callout {
	width: 100%;
	mix-blend-mode: normal;
}
